.nav.nav-pills .nav-link.active {
  background-color: transparent;
}

.nav.nav-pills .nav-link.active::before {
  background-color: #ffff;
}

.nav.nav-pills .nav-link.active::after {
  content: url(./point-line.png);
  vertical-align: middle;
  margin-left: 44px;
  position: absolute;
  z-index: 2;
}

.nav-link {
  color: #a7a7b3;
}

.nav-link::before {
  content: '';
  display: inline-block;
  background-color: #a7a7b3;
  width: 16px;
  height: 4px;
  margin-right: 44px;
  vertical-align: middle;
}

.nav-link:hover {
  cursor: pointer;
}
