.carousel {
  margin-top: 120px;
  .carousel-indicators {
    button {
      visibility: hidden;
    }
  }

  .carousel-inner {
    .carousel-item {
      img {
        margin: 0 auto;
      }
    }
  }

  .carousel-control-prev {
    .carousel-control-prev-icon {
      background-image: url(./left.png);
      width: 64px;
      height: 64px;
      margin-right: 35px;
    }
  }
  .carousel-control-next {
    .carousel-control-next-icon {
      background-image: url(./right-hover.png);
      width: 64px;
      height: 64px;
      margin-left: 35px;
    }
  }
}